body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

#inputDate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 360px;
  padding: 12px 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
th,
td {
  text-align: left;
  padding: 8px;
}
tr.break,
tr.lunch {
  background-color: #f2f2f2;
}
